

.container{
    display: grid;
    margin: 20px;
    grid-template-columns: 0.6fr  1fr;
    grid-template-rows: 0.8fr 0.5fr;
    padding: 20px;
    background-color: black;
    color:  yellow;
    font-size: 20px;
    width: 500px;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    
}

.logo-title{
    justify-self: flex-start;
    font-size: 60px;
    margin-left: 10px;
    grid-column: 2 /span 3;
}

.logo-sndtitle{
    margin-left: 60px;
    justify-self: start;
    justify-self: flex-start;
    font-size: 15px;
    color: white;
    grid-column: 2 /span 3;

}

.logo-img {
    height: 125px;
    grid-row: 1 /span 2;
    grid-column: 1;
}